@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
}
                                    /*HEADER*/
header{
    background-color: #0a141d;
    height: 130px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

}

.navBar{
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu-item a{
    text-decoration: none;
    color: white;
    line-height: 130px;
}

.navBar .left .nav-menu-item p{
    /* text-decoration: none; */
    color: white;
    line-height: 130px;
}

.left{
    display: flex;
    align-items: center;
}

.left li{
    margin-right: 10px;
}

.right {
    display: flex;
    align-items: center;
}

.right li {
    margin-left: 10px;
    margin-right: 30px;
}

                                                /* MAIN */

.contenedor-superior{
    width: 100%;
    height: 1150px;
    background-image: url(../assert/fondo-claro.jpg);
    background-size: cover;
    background-position: center;
    
}

.contenedor-superior .sec1{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.contenedor-superior h1{
    text-align: center;
    align-items: center;
    padding-top: 200px;
    color: #fff;
    font-family: 'Carrois Gothic SC', sans-serif; 
    font-size: 80px;
    ;
}

.contenedor-superior h2{
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    color: #fff;
    font-size: 35px;
}

.contenedor-superior p{
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    color: #fff;
    font-size: 35px;
}

.contenedor-superior .sec2 h3{
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    color: goldenrod;
    font-size: 25px;
    padding-top: 250px;
}

.contenedor-superior .sec2 .imagenes-sec2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-superior .sec2 .imagenes-sec2 .image1{
    margin-right: 50px;
    
}

.contenedor-superior .sec2 .imagenes-sec2 .image2{
    margin-left: 50px;
}

.contenedor-medio{
    width: 100%;
    height: 1500px;
    background-color: lightgray;
    
}

.contenedor-medio .primer-row{
    display: flex;

}

.contenedor-medio .primer-row .sec3{
    width: 50%;
    margin-bottom: 100px;
}

.contenedor-medio .primer-row .sec3 h3{
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    color: goldenrod;
    font-size: 25px;
    padding-top: 100px;
}

.contenedor-medio .primer-row .sec3 p{
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    color: #fff;
    font-size: 25px;
    padding-top: 10px;
    padding-left: 120px;
    padding-right:120px;
}

.contenedor-medio .primer-row .image3{
    width: 50%;
}

.contenedor-medio .primer-row .image3 img{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 110px;
    margin-left: auto;
    margin-right: auto;
}

.contenedor-medio .segundo-row{
    display: flex;
}

.contenedor-medio .segundo-row .sec4{
    width: 50%;
    margin-bottom: 100px;
}

.contenedor-medio .segundo-row .sec4 h3{
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    color: goldenrod;
    font-size: 25px;
    padding-top: 100px;
}

.contenedor-medio .segundo-row .sec4 p{
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    color: #fff;
    font-size: 25px;
    padding-top: 10px;
    padding-left: 120px;
    padding-right:120px;
}

.contenedor-medio .segundo-row .image4{
    width: 50%;
}

.contenedor-medio .segundo-row .image4 img{
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    margin-left: 100px;
    margin-right: auto;
}

.contenedor-medio .col h2{
    text-align: center;
    align-items: center;
    font-family: sans-serif;
    color: #fff;
    font-size: 50px;
}

.contenedor-medio .col .boton-inf{
    text-align: center;
    align-items: center;
    padding-top: 100px;
}

                                    /* REGISTER */

.contenedor-reg{
    width: 100%;
    height: 950px;
    background-color: lightgray;
}

.contenedor-reg .row{
    padding-top: 30px;
    width: 500px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.contenedor-reg .row .form-floating{
    padding-top: 50px;
}

.contenedor-reg .text-sup{
    padding-top: 200px;
}

.contenedor-reg .text-sup h1{
    text-align: center;
    align-items: center;
    color: #fff;
    font-family: 'Carrois Gothic SC', sans-serif; 
    font-size: 40px;
}

.contenedor-reg .text-sup h2{
    text-align: center;
    align-items: center;
    color: #fff;
    font-family: 'Carrois Gothic SC', sans-serif; 
    font-size: 20px;
}

.contenedor-reg .text-sup h3{
    text-align: center;
    align-items: center;
    padding-top: 20px;
    color: goldenrod;
    font-family: 'Carrois Gothic SC', sans-serif; 
    font-size: 20px;
}

.contenedor-reg .text-sup p{
    text-align: center;
    align-items: center;
    color: #fff;
    font-family: 'Carrois Gothic SC', sans-serif; 
    font-size: 20px;
}





                                            /* FOOTER */
.pie-pagina{
    width: 100%;
    background-color: #0a141d;    
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;

}


.pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: 20px;
    font-size: 30px;
    padding-top: 65px;
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 20px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
    margin-bottom: 30px;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}

.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;

}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}


.pie-pagina .grupo-1 .box .mapa{
    margin-top: 50px;
}



